.products {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px 20px 40px 20px;
    cursor: pointer;
}

.item__name {
    text-align: center;
}

.item__img {
    width: 200px;
    height: 200px;
}
